/*body {
  background-color: #282d35;
  font-family: Inter;
  background-image: url(react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}
main {
  padding: 57px;
  color: white;
}
h1 {
  font-size: 39px;
  letter-spacing: -0.05em;
}
ul {
  margin-top: 46px;
  max-width: 400px;
}
li {
  line-height: 19px;
  padding-block: 10px;
}
li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
*/